@import url("./logo.css");

:root
{
    --red-color: #860000;
    --bluish-light-grey-color : #F5F7F9;
    --background-color-dull-yellow: #e0e0d4;
}

html, body
{
    min-width: 730px;
    height: 100%;
    background-image: url("./Images/HomePage/Money-Heist.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border: transparent;
    outline: none;
}

body
{
    color: var(--background-color);
}

h2
{
    text-align: center;
}

For all scrollbars
body::-webkit-scrollbar 
{
    height: 1em;
}
  
body::-webkit-scrollbar-track 
{
    background: var(--light-grey);
}
  
body::-webkit-scrollbar-thumb 
{
    background: var(--red-color);
}

.homepage-content
{
    width: 100%;
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 35rem;
    gap: 4rem;
}

.homepage-content h1
{
    font-size: 5rem;
    margin: 0;
}

.homepage-content h3
{
    font-size: 3rem;
    margin: 0;
}

.homepage-downarrows
{
    width: 10rem;
    height: 10rem;
}

.categories-heading
{
    font-size: 5rem;
    text-align: center;
}

.quiz-categories
{
    padding: 5rem;
    height: fit-content;
    width: 100%;
    color: var(--dark-blue-color);
    background-color: var(--bluish-light-grey-color);
}

.categories-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit,50rem);
    gap: 10rem;
    padding: 10rem 2rem;
    justify-content: center;
}

.category-card
{
    width: 50rem;
    height: 35rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 1px rgb(48 48 48 / 54%);
}

.category-card:hover
{
    box-shadow: 0 0 25px 6px var(--offline-grey-color);
    transition: .5s ease-in-out;
    cursor: pointer;
}

.category-card:not(:hover)
{
    transition: .5s ease-in-out;
}

.category-card-img
{
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.category-card-footer
{
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-card-details
{
    margin: 0 0rem 0 2rem;
}

.solid-primary-btn
{
    margin: 0 2rem;
    height: fit-content;
}

.footer
{
    width: 100%;
    max-width: 100%;
    padding-top: 3rem;
    margin-top: 8rem;
    position: relative;
    bottom: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 1px solid var(--dark-blue-color);
    text-align: center;
}

.footer-div
{
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-shrink: 2;
    padding-bottom: 3rem;
    justify-content: space-evenly;
}

.footer-link
{
    text-decoration: none;
    color: var(--dark-blue-color);
    padding: 2rem 0 0 0;
}

.footer .footer-link::after {
    content: '';
    display: block;
    width: 0px;
    height: 2px;
    background: var(--dark-blue-color);
    transition: width .3s;
}

.footer .footer-link:hover::after 
{
    width: 100%;
}